@model IEnumerable<CuatroCaminosMvcApplication.Models.PayGroup>

@{
    ViewBag.Title = "Общие суммы по группам";
}

<h2>Общие суммы по группам</h2>

<p>
    @Html.ActionLink("Вернуться в оплату", "Index", "Payment") |

</p>

<table>
    <tr>
        <th>
            Месяц
        </th>
        <th>
            Год
        </th>
        <th>
            Сумма
        </th>
        <th>
            Кол-во <br/> людей
        </th>

        <th>
            Группа
        </th>
        <th>
            
        </th>
        <th>
           Создана 
        </th>

@*        <th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date.Year)
        </td>
        <td class="many"> 
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeopleCount)
           

        </td>

        <td>
            @Html.ActionLink(item.Group, "Month", "Payment", new { month = item.Date.Month, gruppa = item.GroupId}, null) 
            @*            @Html.DisplayFor(modelItem => item.Group)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupDescr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupDateTimeRec)
        </td>

@*        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>

<hr/>

<strong>
    Всего @Html.Label(Model.Count().ToString()) записей, на сумму: @Model.Select(item => item.Amount).Sum() руб.
</strong>
<br/>