@model CuatroCaminosMvcApplication.Models.Visits

@{
    ViewBag.Title = "Create2";
}

<h2>Create2</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Visits</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataTimeRec)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataTimeRec)
            @Html.ValidationMessageFor(model => model.DataTimeRec)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataTimePay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataTimePay)
            @Html.ValidationMessageFor(model => model.DataTimePay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeopleId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeopleId)
            @Html.ValidationMessageFor(model => model.PeopleId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Freezing)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Freezing)
            @Html.ValidationMessageFor(model => model.Freezing)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoginRecId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoginRecId)
            @Html.ValidationMessageFor(model => model.LoginRecId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
