@model IEnumerable<CuatroCaminosMvcApplication.Models.СписокНаМероприятие>

@{
    ViewBag.Title = "People";
}

<h2>People</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            PeopleId
        </th>
        <th>
            МероприятеID
        </th>
        <th>
            Avto
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PeopleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.МероприятеID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
