@using CuatroCaminosMvcApplication
@model IEnumerable<CuatroCaminosMvcApplication.Models.Списки_людей>

@{
    ViewBag.Title = "Список людей без номеров телефона";
}

<h2>Список людей без номеров телефона</h2>

<p>
     @Html.ActionLink("Назад к списку", "Index")
</p>
<table>
    <tr>
        <th>
            Дата рождения <hr/>
            Дата регистрации
        </th>
        <th>
            Фамилия<br/>
            Имя<br/>
            Отчество<br/>
            
        </th>
        <th>
            Школа
        </th>
        <th nowrap="nowrap">
            Вконтекте,       <br/>
            Выступоения,     <br/>
            Наличие авто.    <br/>
        </th>
        <th>
            Телефон
        </th>
        <th>
            От куда узнал
        </th>
        <th>
            Хобби
        </th>
        <th>
            Примечание
        </th>
         <th>
            Выбыл из школы
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_регистрации) <hr/>
            @Html.DisplayFor(modelItem => item.Дата_рождения)
        </td>
        <td>
          <b> @Html.DisplayFor(modelItem => item.Фамилия)     <br/>
              @Html.DisplayFor(modelItem => item.Имя)
          </b>                                                 <br/>
              @Html.DisplayFor(modelItem => item.Отчество)     <br/>  
                        <br/>
                        
        </td>
        <td>
              @Html.DisplayFor(modelItem => item.Название_школ.Школы)
        </td>
        <td>
           Вконтекте: @Html.DisplayFor(modelItem => item.Вконтекте)               <br/>
           Выступл-я: @Html.DisplayFor(modelItem => item.Участие_в_выступлениях)  <br/>
           Авто: @Html.DisplayFor(modelItem => item.Наличие_авто)            <br/>
        </td>
        <td>
               @Html.DisplayFor(modelItem => item.Телефон)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.От_куда_узнал_а_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Хобби)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Примечание)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Выбыл_из_школы)<br/>
            @Html.DisplayFor(modelItem => item.Дата_выбытия)
        </td>
        <td>
@if (HttpContext.Current.User.Identity.Name == StaticsVariables.ЛогинАдминистратора)
 {
     @Html.ActionLink("Редактировать", "Edit", new {id = item.Код})
     <br/>
     @Html.ActionLink("Удалить", "Delete", new {id = item.Код})

 }
     <br/>
    
                @Html.ActionLink("Подробнее", "Details", new { id = item.Код }) <br/><br/>
        </td>
    </tr>
}

</table>

<p>
Всего: @Html.Label(ViewData.Model.Select(e =>  new { e.Код, e.Пол }).Where(e => e.Код != 151).Distinct().Count().ToString()) человек(а), в числе которых:

<ul>

<li> @Html.Label(ViewData.Model.Select(e => new { e.Код, e.Пол }).Where(e => e.Пол == "Ж").Distinct().Count().ToString()) девушек(и) </li>
<li> @Html.Label(ViewData.Model.Select(e => new { e.Код, e.Пол }).Where(e => e.Пол == "М").Distinct().Count().ToString()) парней(я) </li>
</ul>
</p>

<br/>

    @Html.ActionLink("Назад к списку", "Index")
